.article {
  flex-direction: column;
  width: 100%;
  background-color: var(--mdoc-theme-surface);

  @include mdoc-small {
    position: absolute;
    left: 0;
    transition: transform .3s $mdoc-animation-easing;

    &.is-open {
      transform: translateX(320px);
    }
  }
}
