.btn {
  display: inline-flex;
  padding: $mdoc-baseline;
  border: 2px solid currentColor;
  color: var(--mdoc-theme-primary);
  font-size: $mdoc-font-x-small;
  font-weight: $mdoc-font-semi-bold;
  text-transform: uppercase;
  cursor: pointer;

  &:focus,
  &:hover {
    border: 2px solid var(--mdoc-theme-primary);
    outline: none;
    background-color: var(--mdoc-theme-primary);
    color: white;
  }

  &[disabled],
  &[disabled]:hover {
    border: 2px solid;
    background: inherit;
    color: inherit;
    cursor: default;
    opacity: .2;
  }
}
