.day {
  &.is-highlight {
    &::before {
      display: block;
      width: 100%;
      content: attr(data-title);
      transform: none;
      opacity: 0;
      position: absolute;
      font-size: $mdoc-font-x-small;
      top: 0;
      background: $mdoc-color-batman;
      transition: opacity .2s $mdoc-animation-easing, transform .3s $mdoc-animation-easing;
      text-align: center;
      padding: $mdoc-baseline / 2 $mdoc-baseline;
      border-radius: $mdoc-border-radius;
      z-index: 9;
      pointer-events: none;
    }
    &:hover {
      &::before {
        transform: translateY(-104%);
        opacity: 1;
      }
    }
  }
}
