code[class*="language-"],
pre[class*="language-"] {
  background: var(--backgroundPrimary) !important;
  color: var(--colorText) !important;
  text-shadow: none !important;

  .token.operator {
    background-color: transparent !important;
  }
}

pre[class*="language-"] {
  margin: $baseline * 2 0 !important;
  padding: $baseline * 2 0 !important;
  border-top: 6px solid $colorPink;
  font-size: $fontSmall;
}

code {
  display: inline-block;
  padding: 0 $baseline / 4;
  background: var(--backgroundPrimary);
  color: var(--borderPrimary);
  font-family: Consolas, monospace;
  border-radius: 2px;
}

