// stylelint-disable selector-no-qualifying-type, selector-max-type
code[class*="language-"],
pre[class*="language-"] {
  background: var(--mdoc-theme-background) !important;
  color: var(--mdoc-theme-text) !important;
  text-shadow: none !important;

  .token.operator {
    background-color: transparent !important;
  }
}

pre[class*="language-"] {
  margin: $mdoc-baseline * 2 0 !important;
  padding: $mdoc-baseline * 2 0 !important;
  border-top: 6px solid get-color(pink);
  font-size: $mdoc-font-small;
}

code {
  display: inline-block;
  padding: $mdoc-baseline / 5 $mdoc-baseline / 3;
  border-radius: $mdoc-border-radius;
  background: var(--mdoc-theme-background);
  color: var(--mdoc-theme-hint);
  font-family: var(--mdoc-theme-typography-code);
  font-size: 1.125rem;

  &.hljs {
    font-size: $mdoc-font-small;
  }
}
