.navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: $baseline * 2;

  &__item {
    position: relative;
    margin-bottom: $baseline * 2;
    color: var(--mdoc-theme-hint);
    font-weight: $fontBold;
    text-transform: uppercase;
  }

  &__submenu {
    margin-top: $baseline / 2;
    margin-left: $baseline / 2;
    padding-left: $baseline / 2;
    border-left: 4px solid var(--mdoc-theme-hint);

    .navigation__item {
      margin-bottom: $baseline / 3;
      font-weight: $fontRegular;
      text-transform: none;
    }
  }

  &__link {
    transition: color .2s $animationEasing;
    color: var(--mdoc-theme-text);
    font-weight: $fontRegular;
    text-decoration: none;

    &.router-link-active,
    &:hover {
      color: var(--mdoc-theme-primary);
    }
  }
}
