.navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 2rem;

  &__item {
    position: relative;
    margin-bottom: $baseline / 4;
    text-transform: uppercase;
    font-weight: $fontBold;
    margin-bottom: 2rem;
    color: var(--borderPrimary);
  }

  &__submenu {
    margin-top: $baseline / 2;
    border-left: 4px solid var(--borderPrimary);
    padding-left: $baseline / 2;
    margin-left: $baseline / 2;

    .navigation__item {
      text-transform: none;
      font-weight: $fontRegular;
      margin-bottom: $baseline / 3;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--colorText);
    font-weight: $fontRegular;
    transition: color .2s $animationEasing;

    &.router-link-active,
    &:hover {
      color: var(--colorPrimary);
    }
  }
}
