.switch {
  display: inline-flex;

  &__input {
    display: none;

    + .switch__label {
      position: relative;
      display: inline-block;
      padding-left: 50px;
      color: var(--mdoc-theme-primary);
      text-align: left;
      cursor: pointer;

      .switch__text {
        color: var(--mdoc-theme-text);
        font-weight: map-get($mdoc-typography-font-weight, regular);
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        margin: 0;
        transform: translate(0, -50%);
        transition: all .3s $mdoc-animation-easing;
        outline: 0;
        content: "";
      }

      &::before {
        left: 2px;
        width: 34px;
        height: 14px;
        border-radius: 8px;
        background-color: var(--mdoc-theme-hint);
      }

      &::after {
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: get-color(gray, light);
      }
    }

    &:checked {
      + .switch__label {
        &::after {
          transform: translate(80%, -50%);
          background-color: currentColor;
        }

        &::before {
          background-color: currentColor;
          opacity: .5;
        }
      }
    }

    &:disabled {
      + .switch__label {
        ::before {
          background-color: #{get-color(gray, light)};
        }

        ::after {
          background-color: #{get-color(gray, light)};
        }
      }
    }
  }
}
