.switch {
  display: inline-flex;

  &__input {
    display: none;

    + .switch__label {
      position: relative;
      display: inline-block;
      padding-left: 50px;
      cursor: pointer;
      text-align: left;
    }

    + .switch__label:before,
    + .switch__label:after {
      content: "";
      position: absolute;
      margin: 0;
      outline: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s ease;
    }

    + .switch__label:before {
      left: 2px;
      width: 34px;
      height: 14px;
      background-color: var(--borderPrimary);
      border-radius: 8px;
    }

    + .switch__label::after {
      left: 2px;
      width: 20px;
      height: 20px;
      background-color: $colorWhiteSomke;
      border-radius: 50%;
      box-shadow: 0 3px 1px -2px rgba($colorWhiteSomke, .14), 0 2px 2px 0 rgba($colorWhiteSomke, .098), 0 1px 5px 0 rgba($colorWhiteSomke, .084);
    }

    &:checked + .switch__label:after {
      background-color: currentColor;
      -webkit-transform: translate(80%, -50%);
      transform: translate(80%, -50%);
    }

    &:checked + .switch__label:before {
      background-color: currentColor;
      opacity: .5;
    }

    .switch:checked + .switch__label:after {
      background-color: currentColor;
      -webkit-transform: translate(80%, -50%);
      transform: translate(80%, -50%);
    }

    &:disabled + .switch__label:before {
      background-color: #eee;
    }

    &:disabled + .switch__label:after {
      background-color: #eee;
    }
  }

  .switch__label {
    color: var(--colorPrimary);

    .switch__text {
      color: var(--colorText);
      font-weight: 400;
    }
  }
}
