// stylelint-disable selector-no-qualifying-type, selector-max-type
table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $mdoc-font-base;
  font-weight: $mdoc-font-regular;
  border-collapse: collapse;

  tr {
    padding: $mdoc-baseline / 3;
    border-bottom: 1px solid var(--mdoc-theme-hint);
  }

  th {
    padding: $mdoc-baseline;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
  }

  td {
    padding: $mdoc-baseline;
    text-align: center;
  }

  @include mdoc-small {
    thead {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: none;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    tr {
      display: block;
      margin-bottom: $mdoc-baseline;
      border-bottom: 2px solid var(--mdoc-theme-hint);
    }

    td {
      display: block;
      border-bottom: 1px solid var(--mdoc-theme-hint);
      text-align: left;

      &::before {
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        content: attr(data-label);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
