.tag {
  display: flex;
  flex-wrap: wrap;
  margin: $baseline 0;
  padding: 0;
  list-style-type: none;

  &__item {
    margin: 0;
    padding: $baseline / 3 $baseline / 2;
    color: #fff;
    border: 2px solid currentColor;
    font-size: $fontSmall;
    font-weight: $fontSemiBold;
    margin: $baseline / 4;
  }
}
