.textfield {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    padding: $mdoc-baseline 0;
    font-weight: map-get($mdoc-typography-font-weight, medium);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: $mdoc-baseline $mdoc-baseline;
    border: 1px solid var(--mdoc-theme-text);
    border-radius: 2px;
    background-color: transparent;

    &:focus {
      outline: 1px solid var(--mdoc-theme-background);
    }
  }
}
