.textfield {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    padding: $baseline 0;
    font-weight: $fontSemiBold;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: $baseline / 2 $baseline;
    border: 1px solid var(--mdoc-theme-background);
    border-radius: 2px;
    background-color: transparent;

    &:focus {
      outline: 1px solid var(--mdoc-theme-background);
    }
  }
}
