# Tests
test
coverage

# Folder's
demos/
assets/
src/

# Build Tools
.travis.yml
.jenkins.yml

# Linter's
.stylelintrc.yaml
.tslint.json
.jscsrc
.jshintrc
.eslintrc*
.eslintrc*

# Editor Settings
.idea
.editorconfig
.vscode
