$hw-color-white: #fff;
$hw-color-primary :#7fcbc3;
$hw-color-secondary :#42a298;
$hw-color-highlight :#8fbc8f;
$hw-color-today: #ff3860;
$hw-color-weekend: #ff3860;
$hw-transition: .2s cubic-bezier(.25, .1, .49, .9);

$hw-font-size: 16px;
$hw-font-weight: 400;
$hw-baseline: 1em;
$hw-day-width: 100% / 7;
