$transition: .2s cubic-bezier(.25, .1, .49, .9) !default;
$baseline: 1em !default;
$disabled: .3 !default;

$typography-weight: (
  light: 300,
  regular: 400,
  bold: 700
) !default;

$typography-size: (
  base: 1em,
  period: 1.2em,
  week: .9em
) !default;
