* {
  box-sizing: border-box;
}

.hello-week {
  width: 100%;
  margin: 0 auto;
  user-select: none;
  font-size: map-get($typography-font-size, base);

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .prev,
  .next {
    padding: $baseline;
    cursor: pointer;
  }

  .period {
    width: 100%;
    font-size: map-get($typography-font-size, period);
    font-weight: map-get($typography-font-weight, regular);
    text-align: center;
  }

  .week {
    display: flex;

    &.rtl {
      flex-direction: row-reverse;
    }
  }

  .month {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

    &.rtl {
      flex-direction: row-reverse;
    }
  }

  .day {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $day-width;
    padding: $baseline;
    transition: background-color $transition;
  }
}
