* {
  box-sizing: border-box;
}

.datepicker {
  width: 100%;
  max-width: var(--datepicker-max-width);
  margin: 0 auto;
  border-radius: var(--datepicker-border-radius);
  background-color: var(--datepicker-bg-color);
  box-shadow: 0 2px 20px 8px rgba(0, 0, 0, .12);
  overflow: hidden;

  .btn {
    min-width: 27px;
    padding: 0;
    border: 0;
    outline: none;
    text-align: center;
    cursor: pointer;

    &:active {
      border-radius: var(--datepicker-border-radius);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 18px 12px;
  }

  &__label {
    width: 100%;
    font-weight: bold;
    text-align: center;
  }

  &__week {
    display: flex;
    background-color: var(--datepicker-bg-week);
    color: var(--datepicker-color-week);

    &__day {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 14.28%;
      padding: 12px;
      background-color: var(--datepicker-bg-day);
      color: var(--datepicker-color-day);
      font-size: 1rem;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  &__month {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14.28%;
    padding: 12px;
    border-radius: var(--datepicker-border-radius);
    background-color: #fff;

    &.is-active {
      cursor: pointer;
    }

    &.is-today {
      background-color: var(--datepicker-bg-tody);
      color: var(--datepicker-color-tody);
    }

    &.is-selected {
      background-color: var(--datepicker-bg-selected);
      color: var(--datepicker-color-selected);
    }

    &.is-disabled {
      border-radius: 0;
      background-color: var(--datepicker-bg-disabled);
      color: var(--datepicker-color-disabled);
      cursor: not-allowed;
    }
  }
}
