@import "variables";

.hw {
  width: 100%;
  margin: 0 auto;
  padding: $hw-baseline;
  user-select: none;
  font-size: $hw-font-size;

  &__header {
    display: flex;
    align-items: center;
  }

  &__prev,
  &__next {
    padding: $hw-baseline;
    cursor: pointer;
  }

  &__label {
    width: 100%;
    font-size: 1.6em;
    font-weight: $hw-font-weight;
    text-align: center;
  }

  &__week {
    display: flex;
    color: $hw-color-secondary;
    font-size: 1.2em;
  }

  &__month {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $hw-day-width;
    padding: $hw-baseline;
    transition: background-color $hw-transition;

    &.is-active {
      cursor: pointer;
    }

    &.is-weekend {
      background-color: $hw-color-weekend;
      color: darken($hw-color-weekend, 20%);
    }

    &.is-selected {
      background-color: $hw-color-primary !important;
      color: $hw-color-white !important;
    }

    &.is-disabled {
      background-color: $hw-color-disabled;
      color: darken($hw-color-disabled, 20%);
      cursor: not-allowed;
    }

    &.is-highlight {
      background-color: $hw-color-highlight;
      color: $hw-color-white;
    }

    &.is-today {
      background-color: $hw-color-today;
      color: $hw-color-white;
    }
  }
}
