@import "variables";

.default-theme {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  border: 1px solid #dadee4;

  .navigation {
    background-color: #f7f8f9;
  }

  .week {
    background-color: #f7f8f9;
    color: $hw-color-week;
    border-bottom: .05rem solid #dadee4;
    font-size: map-get($hw-typography-font-size, week);
  }

  .month {
    padding: .4rem 0;
  }

  .day {
    color: #66758c;

    &.is-weekend {
      color: $hw-color-weekend;
    }

    &.is-highlight {
      background-color: $hw-color-highlight;
      color: $hw-color-white;
    }

    &.is-today {
      background-color: $hw-color-today;
      color: $hw-color-white;
    }

    &.is-selected {
      background-color: $hw-color-selected;
      color: $hw-color-white;
    }

    &.is-range {
      background-color: #f1f1fc;
      color: #5755d9;
    }

    &.is-begin-range,
    &.is-end-range {
      background-color: $hw-color-selected !important;
      color: $hw-color-white !important;
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: .33;
    }
  }
}
