.default-theme {
  font-size: 14px;
  border: 1px solid #dadee4;

  .navigation {
    background-color: #f7f8f9;
  }

  .week {
    background-color: #f7f8f9;
    color: map-get($colors, week);
    border-bottom: 1px solid #dadee4;
  }

  .day {
    color: #66758c;

    &.is-weekend {
      color: map-get($colors, weekend);
    }

    &.is-highlight {
      background-color: map-get($colors, highlight);
      color: #fff;
    }

    &.is-today {
      background-color: map-get($colors, today);
      color: #fff;
    }

    &.is-selected {
      background-color: map-get($colors, selected);
      color: #fff;
    }

    &.is-range {
      background-color: #f1f1fc;
      color: #5755d9;
    }

    &.is-begin-range,
    &.is-end-range {
      background-color: map-get($colors, selected);
      color: #fff !important;
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: .33;
    }
  }
}
