html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
  color: #3e3e3e;
}

.title {
  color: #3e3e3e;
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.sub-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.intro {
  font-size: 1.7rem;
  font-weight: 100;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  font-size: 1rem;
}

h4 {
  margin: 0;
  line-height: 2;
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

label {
  display: block;
  margin: .5rem 0;
  color: #69727c;
  font-size: 1rem;
  line-height: 1.4;
}

blockquote {
  margin: 0;
  padding: 1rem 1rem;
  color: #69727c;
  line-height: 1.6;
  border-left: 4px solid #7fcbc3;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.options__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.hello-week {
  max-width: 980px;
}

.btn {
  transition: all .33s ease;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:hover {
  color: #7fcbc3;
}

.btn-reset {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border: 1px solid #7fcbc3;
  color: #7fcbc3;
  cursor: pointer;
}

.btn-reset:hover {
  background: #7fcbc3;
  color: #fff;
}

.btn-reset:focus {
  outline: none;
}

.is-today.is-selected {
  color: #3e3e3e;
}

.btn-download {
  display: inline-block;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem 4rem;
  transition: all .33s ease;
  border: none;
  background-color: #7fcbc3;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 14px 20px 0 rgba(15, 20, 25, .1);
  cursor: pointer;
}

.btn-download:hover {
  background-color: #3e3e3e;
}

.btn-docs {
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem 4rem;
  transition: all .33s ease;
  border: none;
  background-color: #ffa07a;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 14px 20px 0 rgba(15, 20, 25, .1);
  cursor: pointer;
}

.btn-docs:hover {
  background-color: #f7f8fb;
  color: #3e3e3e;
}

.hello-week {
  margin-top: 2rem;
}

.section {
  display: block;
  padding: 2rem 0;
}

.section--hero {
  min-height: 100vh;
  background-color: #fcee55;
}

.section--options {
  padding-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.section--options {
  min-height: 100vh;
  background-color: #fff;
}

.section--options .container {
  align-items: flex-start;
  text-align: left;
}

.highlight {
  width: 100%;
  margin-top: 2rem;
}

.demo-download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.demo-exemplo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.demo-exemplo ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.demo-exemplo ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: .5rem;
  padding: .3rem .6rem;
  border-radius: 4px;
  background: #3e3e3e;
  color: #fff;
  font-weight: 300;
  list-style: none;
}

.demo-today {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.code {
  display: inline-flex;
  margin: 0 .2rem .5rem;
  padding: .05rem .5rem;
  border-radius: 2px;
  background: #f7f7f7;
  border: 1px solid #dfdfdf;
  font-family: monospace;
  font-size: .9rem;
}

.header {
  background-color: #ffa07a;
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 0;
}

.nav .title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li {
  margin: 0 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a.is-active {
  opacity: .4;
  cursor: default;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #f7f7f7;
}

.footer a {
  padding: 2rem 0;
  color: #7fcbc3;
  font-size: 1rem;
  text-decoration: none;
}


.footer a:hover {
  color: #ffa07a;
}

.columns {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
}

.half {
  display: flex;
  padding: 0 1rem;
}
