html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: #3e3e3e;
  line-height: 1.4;
  box-sizing: border-box;
}

.title {
  position: relative;
  color: #3e3e3e;
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
}

.sub-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.intro {
  font-size: 1.7rem;
  font-weight: 100;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  font-size: 1rem;
}

h4 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

label {
  display: block;
  margin: .5rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

blockquote {
  margin: 0;
  padding: 1rem 1rem;
  color: #69727c;
  line-height: 1.6;
  border-left: 4px solid #7fcbc3;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.options__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.hello-week {
  max-width: 980px;
}

.flex-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all .33s ease;
  text-transform: uppercase;
  margin: 0 .1rem;
}

.btn:hover {
  color: #7fcbc3;
}

.btn:focus {
  outline: none;
}

.btn-default {
  display: inline-flex;
  width: auto;
  height: auto;
  padding: .5rem 1rem;
  border: 1px solid #3e3e3e;
  text-transform: capitalize;
  color: #3e3e3e;
  cursor: pointer;
}

.btn-default:hover {
  background: #3e3e3e;
  color: #fff;
}


.is-today.is-selected {
  color: #3e3e3e;
}

.btn-download {
  display: inline-block;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem 4rem;
  transition: all .33s ease;
  border: none;
  background-color: #7fcbc3;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 14px 20px 0 rgba(15, 20, 25, .1);
  cursor: pointer;
}

.btn-download:hover {
  background-color: #3e3e3e;
}

.btn-docs {
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem 4rem;
  transition: all .33s ease;
  border: none;
  background-color: #ffa07a;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 14px 20px 0 rgba(15, 20, 25, .1);
  cursor: pointer;
}

.btn-docs:hover {
  background-color: #f7f8fb;
  color: #3e3e3e;
}

.form__switch {
  display: none;
}

.form__switch + .form__label {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
  padding-left: 50px;
  cursor: pointer;
  text-align: left;
}

.form__switch + .form__label::before, .form__switch + .form__label::after {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
  content: "";
  outline: 0;
}

.form__switch + .form__label::before {
  left: 2px;
  width: 34px;
  height: 14px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.form__switch + .form__label::after {
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.form__switch:checked + .form__label::before {
  background-color: currentColor;
  opacity: .5;
}

.form__switch:checked + .form__label::after {
  background-color: currentColor;
  transform: translate(80%, -50%);
}

.form__switch:disabled + .form__label::after {
  background-color: #fff;
}

.form__switch:disabled + .form__label::before {
  background-color: #efefef;
}


.hello-week {
  margin-top: 2rem;
}

.heading {
  display: block;
  margin-bottom: 1rem;
  padding: .1rem 0;
  background: #f7f7f7;
}

.heading__title {
  display: flex;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

.section {
  display: block;
  padding: 2rem 0;
}

.section--hero {
  min-height: 100vh;
  background-color: #fcee55;
}

.section--options {
  padding-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.section--options {
  min-height: 100vh;
  background-color: #fff;
}

.section--options .container {
  align-items: flex-start;
  text-align: left;
}

.highlight {
  width: 100%;
  margin-top: 2rem;
}

.demo-download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.demo-exemplo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
}

.demo-exemplo ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.demo-exemplo ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: .5rem;
  padding: .3rem .6rem;
  border-radius: 4px;
  background: #3e3e3e;
  color: #fff;
  font-weight: 300;
  list-style: none;
}

.demo-today {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.code {
  display: inline-flex;
  margin: 0 .2rem .5rem;
  padding: .05rem .5rem;
  border-radius: 2px;
  background: #f7f7f7;
  border: 1px solid #dfdfdf;
  font-family: monospace;
  font-size: .9rem;
}

.header {
  background-color: #ffa07a;
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 0;
}

.nav .title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li {
  margin: 0 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a.is-active {
  opacity: .4;
  cursor: default;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #f7f7f7;
}

.footer a {
  padding: 2rem 0;
  color: #7fcbc3;
  font-size: 1rem;
  text-decoration: none;
}


.footer a:hover {
  color: #ffa07a;
}

.columns {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
}

.half {
  display: flex;
  padding: 0 1rem;
}

.days-highlight {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
}

.days {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.days__item {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  list-style: none;
}

.days__item span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--color-item);
}

.label {
  position: relative;
  display: inline-flex;
  margin-left: .3rem;
  padding: 0 .6rem;
  transform: translateY(-50%);
  border-radius: 2px;
  font-size: .7rem;
  font-weight: 600;
}

.label--new {
  background-color: #3cb371;
  color: #fff;
}

.label--version {
  background-color: #ff6347;
  color: #fff;
}

.demos_links {
  display: flex;
  width: 100%;
  margin-right: -.4rem;
  margin-left: -.4rem;
  padding: 4rem 0;
}

.demos_links__item {
  background: #eaeaea;
  height: 6rem;
  margin: 0 .4rem;
  width: 25%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #3e3e3e;
}
