.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $baseline * 2 0;
  color: var(--mdoc-theme-primary);
  font-size: $fontSmall;

  a {
    color: var(--mdoc-theme-primary);
    font-weight: $fontSemiBold;
    text-decoration: none;
  }

  .heart {
    color: get-color(pink);
  }
}
