// stylelint-disable selector-no-qualifying-type, selector-max-specificity
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 $mdoc-baseline * 2;
  border-bottom: 1px solid var(--mdoc-theme-background);
  background-color: var(--mdoc-theme-surface);

  .toggle-sidebar {
    position: absolute;
    top: $mdoc-baseline * 2;
    left: $mdoc-baseline * 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: $mdoc-baseline * 3;
    height: $mdoc-baseline * 3;
    transition: transform .3s $mdoc-animation-easing;
    cursor: pointer;

    .line-menu {
      width: 100%;
      height: 2px;
      background-color: var(--mdoc-theme-primary);

      &:first-child {
        width: 50%;
        transform-origin: right;
        transition: transform 330ms cubic-bezier(.54, -.81, .57, .57);
      }

      &:last-child {
        align-self: flex-end;
        width: 50%;
        transform-origin: left;
        transition: transform 330ms cubic-bezier(.54, -.81, .57, .57);
      }
    }

    &.open {
      transform: rotate(-45deg);

      .line-menu {
        &:first-child {
          transform: rotate(-90deg) translateX(0);
        }

        &:last-child {
          transform: rotate(-90deg) translateX(-3px);
        }
      }
    }
  }

  @include mdoc-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .toggle-sidebar {
      display: flex;
    }
  }

  a {
    text-decoration: none;
  }

  .logo {
    display: inline-flex;
    align-items: center;
    color: var(--mdoc-theme-navigation);
    font-size: $mdoc-font-medium;
    font-weight: map-get($mdoc-typography-font-weight, regular);
    text-transform: uppercase;
    cursor: default;

    @include mdoc-mobile {
      display: flex;
      flex-direction: column;
      margin: $mdoc-baseline 0;
      font-size: $mdoc-font-large;
    }

    > img {
      width: $mdoc-baseline * 3;
      margin-right: $mdoc-baseline;

      @include mdoc-mobile {
        display: flex;
        width: $mdoc-baseline * 4;
        margin-right: 0;
        margin-bottom: $mdoc-baseline;
      }
    }
  }
}
