.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 $baseline * 2;
  background-color: var(--backgroundHeader);

  .toggle-sidebar {
    position: absolute;
    left: $baseline;
    top: $baseline;
    width: 25px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform .3s $animationEasing;
    cursor: pointer;

    .line-menu {
      background-color: $colorViolet;
      width: 100%;
      height: 2px;

      &:first-child {
        width: 50%;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
      }

      &:last-child {
        width: 50%;
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
      }
    }

    &.open {
      transform: rotate(-45deg);

      .line-menu {
        &:first-child {
          transform: rotate(-90deg) translateX(0);
        }

        &:last-child {
          transform: rotate(-90deg) translateX(-3px);
        }
      }
    }
  }

  @include small() {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .toggle-sidebar {
      display: flex;
    }
  }

  a {
    text-decoration: none;
  }

  .logo {
    display: inline-flex;
    align-items: center;
    color: var(--colorHeader);
    text-transform: uppercase;
    font-size: $fontMedium;
    font-weight: $fontSemiBold;
    cursor: default;

    @include small() {
      display: flex;
      flex-direction: column;
      font-size: $fontLarge;
      margin: $baseline 0;
    }

    > img {
      width: 22px;
      margin-right: $baseline;

      @include small() {
        display: flex;
        width: 28px;
        margin-right: 0;
        margin-bottom: $baseline;
      }
    }
  }
}
