.menu {
  display: flex;
  list-style-type: none;
  margin-right: $baseline / 2;

  &__item {
    margin: 0 $baseline / 2;
    overflow: hidden;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: var(--colorHeader);
    font-weight: $fontLight;
    padding: $baseline / 2;
    text-transform: lowercase;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s $animationEasing;
      transform-origin: top right;
    }

    &:hover::after {
      transform: scale3d(1, 1, 1);
      transform-origin: top left;
    }
  }
}

