.menu {
  display: flex;
  list-style-type: none;
  margin-right: $baseline / 2;

  &__item {
    margin: 0 $baseline / 2;
    overflow: hidden;
  }

  &__link {
    position: relative;
    padding: $baseline / 2;
    color: var(--mdoc-theme-navigation);
    font-size: $fontSmall;
    font-weight: $fontRegular;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scale3d(0, 1, 1);
      transform-origin: top right;
      transition: transform .3s $animationEasing;
      background: currentColor;
      content: "";
    }

    &:hover::after {
      transform: scale3d(1, 1, 1);
      transform-origin: top left;
    }
  }
}

.list {
  list-style-type: none;

  &--dot {
    list-style-type: disc;
    padding: 0 40px;
  }
}

