.menu {
  display: flex;
  list-style-type: none;
  margin-right: $mdoc-baseline;

  &__item {
    margin: 0 $mdoc-baseline;
    overflow: hidden;
  }

  &__link {
    position: relative;
    padding: $mdoc-baseline;
    color: var(--mdoc-theme-navigation);
    font-size: $mdoc-font-small;
    font-weight: map-get($mdoc-typography-font-weight, regular);
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scale3d(0, 1, 1);
      transform-origin: top right;
      transition: transform .3s $mdoc-animation-easing;
      background: currentColor;
      content: "";
    }

    &:hover::after {
      transform: scale3d(1, 1, 1);
      transform-origin: top left;
    }
  }
}
