.default-theme {
  font-size: 14px;
  border: 1px solid #dadee4;
}
.default-theme .navigation {
  background-color: #f7f8f9;
}
.default-theme .week {
  background-color: #f7f8f9;
  color: #bcc3ce;
  border-bottom: 1px solid #dadee4;
}
.default-theme .day {
  color: #66758c;
}
.default-theme .day.is-weekend {
  color: #ff3860;
}
.default-theme .day.is-highlight {
  background-color: #8fbc8f;
  color: #fff;
}
.default-theme .day.is-today {
  background-color: #ff3860;
  color: #fff;
}
.default-theme .day.is-selected {
  background-color: #3634d2;
  color: #fff;
}
.default-theme .day.is-range {
  background-color: #f1f1fc;
  color: #5755d9;
}
.default-theme .day.is-begin-range,
.default-theme .day.is-end-range {
  background-color: #3634d2;
  color: #fff !important;
}
.default-theme .day.is-disabled {
  cursor: not-allowed;
  opacity: 0.33;
}
