$mdoc-color-aqua: #7fcbc3;
$mdoc-color-aqua-light: tint($mdoc-color-aqua, 42%);
$mdoc-color-aqua-dark: shade($mdoc-color-aqua, 42%);

$mdoc-color-batman: #233448;
$mdoc-color-blue: #3372df;
$mdoc-color-green: #0f9d58;
$mdoc-color-red: #cb4437;
$mdoc-color-yellow: #f4b400;
$mdoc-color-violet: #9266cc;
$mdoc-color-pink: #ff3860;
$mdoc-color-gray: #737373;
$mdoc-color-white: #fff;

$mdoc-palette-colors: (
  batman: $mdoc-color-batman,
  aqua: $mdoc-color-aqua,
  blue: $mdoc-color-blue,
  green: $mdoc-color-green,
  red: $mdoc-color-red,
  yellow: $mdoc-color-yellow,
  violet: $mdoc-color-violet,
  pink: $mdoc-color-pink,
  gray: $mdoc-color-gray,
  white: $mdoc-color-white
);

