// Defining colors
$colorAqua: #7fcbc3;
$colorAquaLight: lighten($colorAqua, 20);
$colorAquaDark: darken($colorAqua, 20);
$colorBlue: #3372df;
$colorBlueSecondary: lighten($colorBlue, 30%);
$colorGreen: #0f9d58;
$colorGreenSecondary: lighten($colorGreen, 30%);
$colorRed: #cb4437;
$colorRedSecondary: lighten($colorRed, 30%);
$colorYellow: #f4b400;
$colorYellowSecondary: lighten($colorYellow, 20%);
$colorViolet: #9266cc;
$colorVioletLight: lighten($colorViolet, 20);
$colorPink: #ff3860;

$colorGrayBackground: #f0f0f0;
$colorGrayKeyline: #e0e0e0;
$colorGray: #737373;
$colorGrayDark: #404040;
$colorWhite: #fff;
$colorWhiteSomke: #f5f2f0;
$colorDarkSomke: #2f2a42;

// Theme
$colorDarkPrimary: #16202d;
$colorDarkSecondary: #233448;
