// stylelint-disable selector-max-type

* {
  @include prefixr(box-sizing, border-box);
}

html,
body {
  background: var(--mdoc-theme-background);
  font-family: var(--mdoc-theme-typography-font);
  font-size: var(--mdoc-theme-typography-size);
  font-weight: var(--mdoc-theme-typography-weight);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
}

body {
  min-width: $xSmall;
  margin: 0;
  padding: 0;
  color: var(--mdoc-theme-text);
}

.main {
  min-height: calc(100vh - calc(57px));
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $wide;
  padding: 0 $baseline;

  &--full {
    max-width: 100%;
  }
}

.content {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.demo {
  margin: $baseline 0 $baseline * 4;
  font-weight: $fontRegular;
}

.demo-interactive {
  display: flex;
  margin-bottom: $baseline * 3;
  font-weight: $fontRegular;
}

.demo-options {
  flex: 1;
}

.demo-toggle {
  flex: 1;
  padding: 0 $baseline * 2;
}

.version {
  margin-left: $baseline / 2;
  color: var(--mdoc-theme-primary);
  font-size: $fontMedium;
  font-weight: $fontBold;
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--mdoc-theme-background);
}
