$mdoc-typography-base: (
  headline-1: (
    margin: $mdoc-baseline * 2 0,
    font-size: $mdoc-font-huge,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-2: (
    margin: $mdoc-baseline * 2 0,
    font-size: $mdoc-font-xx-large,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, bold),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-3: (
    font-size: $mdoc-font-x-large,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, light),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-4: (
    margin: $mdoc-baseline * 2 0,
    font-size: $mdoc-font-large,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-5: (
    font-size: $mdoc-font-medium,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-6: (
    font-size: 1.25rem,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  base: (
    margin: 0,
    margin-bottom: $mdoc-baseline,
    font-size: $mdoc-font-base,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, regular),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  link: (
    font-size: $mdoc-font-base,
    line-height: 1.5,
    font-weight: map-get($mdoc-typography-font-weight, regular),
    color: get-color(pink),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  button: (
    font-size: $mdoc-font-small,
    font-weight: map-get($mdoc-typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: none,
    text-transform: uppercase
  )
) !default;


h1 {
  @include mdoc-typography(headline-1);
}

h2 {
  @include mdoc-typography(headline-2);
}

h2::before {
  display: inline-flex;
  align-items: center;
  margin-right: $mdoc-baseline;
  color: var(--mdoc-theme-hint);
  font-size: $mdoc-font-large;
  content: "#";

  @include mdoc-mobile {
    display: none;
  }
}

h3 {
  @include mdoc-typography(headline-3);
}

h4 {
  @include mdoc-typography(headline-4);
}

p,
li {
  @include mdoc-typography(base);
}

strong {
  font-weight: map-get($mdoc-typography-font-weight, bold)
}

a {
  @include mdoc-typography(link);
}
