h1 {
  display: inline-flex;
  margin: $mdoc-baseline * 2 0;
  font-size: $mdoc-font-xx-large;
  font-weight: $mdoc-font-semi-bold;

  @include mdoc-mobile {
    font-size: $mdoc-font-x-large;
  }
}

h2 {
  display: inline-flex;
  margin: $mdoc-baseline * 2 0;
  font-size: $mdoc-font-x-large;
  font-weight: $mdoc-font-bold;
  line-height: 1.4;

  @include mdoc-mobile {
    font-size: $mdoc-font-medium;
  }
}

h2::before {
  display: inline-flex;
  align-items: center;
  margin-right: $mdoc-baseline;
  color: var(--mdoc-theme-hint);
  font-size: $mdoc-font-large;
  content: "#";

  @include mdoc-mobile {
    display: none;
  }
}

h3 {
  font-size: $mdoc-font-large;
  font-weight: $mdoc-font-light;
}

h4 {
  font-size: $mdoc-font-medium;
}

p,
li {
  margin: 0;
  margin-bottom: $mdoc-baseline;
  font-size: $mdoc-font-base;
  font-weight: $mdoc-font-regular;
  line-height: 1.6;
}

strong {
  font-weight: $mdoc-font-bold;
}

a {
  color: get-color(pink);
}
